html {
	font-size: 18px;
	background-color: #222;
}

.body-home {
	width: 100vw;
	height: 100vh;
	background-image: url(../assets/img/home/background-home-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.body-destination {
	width: 100vw;
	height: 100vh;
	background-image: url(../assets/img/destination/background-destination-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.body-crew {
	width: 100vw;
	height: 100vh;
	background-image: url(../assets/img/crew/background-crew-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.body-technology {
	width: 100vw;
	height: 100vh;
	background-image: url(../assets/img/technology/background-technology-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
	list-style: none;
}