:root {
	--primary-color: #0B0D17;
	--secondary-color: #D0D6F9;
	--tertiary-color: #fff;
	--hover-gray-color: #979797;

	--heading-font-size-XL: 8.33rem;
	--heading-font-size-L: 5.55rem;
	--heading-font-size-M: 3.11rem;
	--heading-font-size-S: 1.77rem;
	--heading-font-size-XS: 1.55rem;

	--subheading-font-size-L: 1.55rem;
	--subheading-font-size-M: 0.77rem;

	--nav-text-font-size: 0.88rem;
	--body-text-font-size: 1rem;

	--letter-spacing-L: 0.26rem;
	--letter-spacing-M: 0.15rem;
	--letter-spacing-S: 0.13rem;
}