.header {
	margin: auto;
	position: fixed;
	top: 2.22rem;
	left: 0;
	right: 0;
	border: 1px solid red;
	padding-left: 3.05rem;
	padding-left: 3.05rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__divider-line {
	width: 50%;
	height: 1px;
	background-color: var(--tertiary-color);
}

.header__navigation {
	width: 100%;
	/* filter: blur(81px); */
}