.header {
	margin: auto;
	position: fixed;
	top: 2.22rem;
	left: 0;
	right: 0;
	padding-left: 3.05rem;
	padding-left: 3.05rem;
	display: flex;
	justify-content: space-between;
	font-family: 'Barlow';
	align-items: center;
}

.header__logo-container {
	border: none;
}

.header__divider-line {
	width: 45%;
	margin-left: 3.05rem;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.249);
}

.navigation__line {
	width: 5%;
	position: absolute;
	left: 0;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.249);
}

.header__navigation {
	position: relative;
	width: 70%;
	height: 5.33rem;
	backdrop-filter: blur(80px);
	background-color: #9797971e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 12rem;
	padding-left: 8rem;
}

.navigation__button {
	height: 100%;
	border: none;
	position: relative;
	background-color: rgba(240, 248, 255, 0);
}

.navigation__button::after {
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	content: '';
	height: 3px;
	width: 100%;
	transform-origin: bottom left;
	background-color: var(--hover-gray-color);
	transition: transform 200ms ease-in-out;
}

.navigation__button:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
	z-index: 10;
}

.navigation__button--active {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	height: 3px;
	width: 100%;
	background-color: var(--tertiary-color);
	z-index: 20;
}

.button__item-1,
.button__item-2 {
	color: var(--tertiary-color);
	font-size: var(--nav-text-font-size);
	letter-spacing: var(--letter-spacing-M);
}

.button__item-1 {
	font-weight: 700;
}

.button__item-2 {
	font-weight: 400;
}