.main-technology {
	width: 100%;
	height: 100%;
	min-height: 850px;
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);
}

.main__information-technology-container {
	grid-area: 5 / 3 / 8 / 7;
	font-family: 'Bellefair';
}

.main__title-technology-container {
	grid-area: 3 / 2 / 3 / 8;
	width: 100%;
	display: flex;
	align-items: center;
}

.title-technology-container__number {
	font-family: 'Barlow-Condensed';
	font-weight: 700;
	color: var(--hover-gray-color);
	font-size: var(--heading-font-size-XS);
	letter-spacing: var(--letter-spacing-L);
	margin-right: 2rem;
}

.title-technology-container__text {
	font-family: 'Barlow-Condensed';
	font-weight: 400;
	font-size: var(--heading-font-size-XS);
	color: var(--tertiary-color);
	letter-spacing: var(--letter-spacing-L);
}

.information-container__title-technology-small {
	display: block;
	font-family: 'Barlow-Condensed';
	font-weight: 400;
	color: var(--secondary-color);
	font-size: 1rem;
	letter-spacing: var(--letter-spacing-M);
	width: 100%;
	font-weight: 400;
	margin-bottom: 1.33rem;
}

.information-container__title-technology-large {
	font-family: 'Bellefair';
	display: none;
	width: 100%;
	font-size: var(--heading-font-size-M);
	color: var(--tertiary-color);
	font-weight: 400;
	margin-top: 1.33rem;
	margin-bottom: 1.33rem;
}

.information-container__title-technology-large--active {
	display: block;
}

.information-container__paragraph-technology {
	height: 100%;
	display: none;
	font-family: 'Barlow';
	line-height: 32px;
	font-weight: 400;
	font-size: 1rem;
	color: var(--secondary-color);
	letter-spacing: 0.08rem;
	max-width: 444px;
}

.information-container__paragraph-technology--active {
	display: block;
}

.main__navigation-technology {
	width: 100%;
	height: 100%;
	grid-area: 5 / 2 / 8 / 3;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
}

.navigation-technology__button {
	width: 4.44rem;
	height: 4.44rem;
	border-radius: 4.44rem;
	color: var(--tertiary-color);
	font-size: var(--heading-font-size-S);
	letter-spacing: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #d0d6f976;
}

.navigation-technology__button:hover {
	border: 1px solid var(--tertiary-color);
}

.navigation-technology__button--active {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}

.image-container__technology-image {
	display: none;
	grid-area: 3 / 7 / 10 / 11;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-container__technology-image--active {
	display: block;
}

.image-container__technology-image-tablet {
	display: none;
	grid-area: 3 / 1 / 7 / 11;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 850px) {
	.body-technology {
		background-image: url(../../assets/img/technology/background-technology-tablet.jpg);
	}

	.main-technology {
		min-height: 650px;
		grid-template-columns: repeat(20, 5%);
		grid-template-rows: repeat(20, 5%);
	}

	.main__title-technology-container {
		grid-area: 3 / 3 / 5 / 15;
		width: 100%;
		display: flex;
		align-items: center;
	}

	.title-technology-container__number {
		font-family: 'Barlow-Condensed';
		font-weight: 700;
		color: var(--hover-gray-color);
		font-size: 1.11rem;
		letter-spacing: 3.38px;
		margin-right: 1rem;
	}
	
	.title-technology-container__text {
		font-family: 'Barlow-Condensed';
		font-weight: 400;
		font-size: 1.11rem;
		color: var(--tertiary-color);
		letter-spacing: 3.38px;
	}

	.image-container__technology-image-tablet {
		display: none;
		grid-area: 5 / 1 / 12 / 21;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	.image-container__technology-image-tablet--active {
		display: block;
	}

	.image-container__technology-image--active {
		display: none;
	}
	
	.main__information-technology-container {
		grid-area: 15 / 4 / 18 / 18;
		text-align: center;
		font-family: 'Bellefair';
	}

	.information-container__title-technology-small {
		font-size: var(--nav-text-font-size);
		letter-spacing: var(--letter-spacing-M);
		width: 100%;
		margin-bottom: 0;
	}

	.information-container__title-technology-large {
		font-size: 2.22rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.information-container__paragraph-technology {
		line-height: 28px;
		font-size: 0.88rem;
		letter-spacing: 0.08rem;
		max-width: unset;
	}
	
	.main__navigation-technology {
		grid-area: 12 / 7 / 14 / 15;
		flex-flow: row;
		justify-content: center;
		align-items: end;
		gap: 1rem;
	}

	.navigation-technology__button {
		width: 3.33rem;
		height: 3.33rem;
		border-radius: 3.33rem;
	}
}

@media screen and (max-width: 500px) {
	.body-technology {
		background-image: url(../../assets/img/technology/background-technology-mobile.jpg);
	}

	.main-technology {
		min-width: unset;
		min-height: 560px;
	}

	.main__title-technology-container {
		grid-area: 3 / 6 / 4 / 17;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.title-technology-container__number {
		color: var(--hover-gray-color);
		font-size: 0.88rem;
		letter-spacing: 2.7px;
		margin-right: 1rem;
	}
	
	.title-technology-container__text {
		font-size: 0.88rem;
		letter-spacing: 2.7px;
	}

	.image-container__technology-image-tablet {
		display: none;
		grid-area: 5 / 1 / 10 / 21;
	}

	.image-container__technology-image-tablet--active {
		display: block;
	}

	.main__navigation-technology {
		grid-area: 10 / 7 / 12 / 15;
		flex-flow: row;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.navigation-technology__button {
		width: 2.22rem;
		min-width: 2.22rem;
		height: 2.22rem;
		border-radius: 2.22rem;
		font-size: 0.88rem;
		padding-left: 0.1rem;
	}

	.main__information-technology-container {
		grid-area: 12 / 1 / 19 / 21;
		padding: 0 0.5rem 3rem 0.5rem;
	}

	.information-container__title-technology-small {
		font-family: 'Barlow-Condensed';
		font-size: 0.77rem;
		letter-spacing: 2.36px;
	}

	.information-container__title-technology-large {
		font-family: 'Bellefair';
		font-size: 1.33rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	
	.information-container__paragraph-technology {
		font-family: 'Barlow';
		line-height: 25px;
		font-size: 0.83rem;
		letter-spacing: 0.08rem;
		max-width: unset;
	}
}