.main-crew {
	width: 100%;
	min-width: 1150px;
	min-height: 800px;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);
}

.main__title-crew-container {
	grid-area: 3 / 2 / 3 / 8;
	width: 100%;
	display: flex;
	align-items: center;
	font-family: 'Barlow-Condensed';
}

.title-crew-container__number {
	font-weight: 700;
	color: var(--hover-gray-color);
	font-size: var(--heading-font-size-XS);
	letter-spacing: var(--letter-spacing-L);
	margin-right: 2rem;
}

.title-crew-container__text {
	font-weight: 400;
	font-size: var(--heading-font-size-XS);
	color: var(--tertiary-color);
	letter-spacing: var(--letter-spacing-L);
}

.main__information-crew-container {
	grid-area: 5 / 2 / 7 / 6;
	font-family: 'Bellefair';
}

.information-crew-container__title-small {
	display: none;
	font-family: 'Bellefair';
	font-weight: 400;
	color: var(--hover-gray-color);
	font-size: var(--heading-font-size-S);
	letter-spacing: var(--letter-spacing-S);
	width: 100%;
	font-weight: 400;
	margin-bottom: 1.33rem;
}

.information-crew-container__title-small--active {
	display: block;
}

.information-crew-container__title-large {
	display: none;
	font-family: 'Bellefair';
	width: 100%;
	font-size: var(--heading-font-size-M);
	color: var(--tertiary-color);
	font-weight: 400;
	margin-top: 1.33rem;
	margin-bottom: 1.33rem;
}

.information-crew-container__title-large--active {
	display: block;
}

.information-container__paragraph-crew {
	display: none;
	font-family: 'Barlow';
	line-height: 32px;
	font-weight: 400;
	font-size: 1rem;
	color: var(--secondary-color);
	letter-spacing: 0.08rem;
	max-width: 444px;
}

.information-container__paragraph-crew--active {
	display: block;
}

.image-container__crew-image {
	grid-area: 3 / 6 / 11 / 11;
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: none;
	align-self: start;
}

.image-container__crew-image--active {
	display: block;
}

.main-crew__button-navigation {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: 9 / 2 / 10 / 4;
}

.button-navigation__button-dot {
	width: 0.83rem;
	height: 0.83rem;
	border-radius: 0.83rem;
	border: none;
	background-color: #d0d6f939;
}

.button-navigation__button-dot--active {
	background-color: var(--tertiary-color);
}

@media screen and (min-width: 850px) {
	.button-navigation__button-dot:not(.button-navigation__button-dot--active):hover {
		background-color: #d0d6f976;
	}
}

@media screen and (max-width: 850px) {
	.body-crew {
		background-image: url(../../assets/img/crew/background-crew-tablet.jpg);
	}
	
	.main-crew {
		min-height: 850px;
		min-width: 550px;
	}
	
	.main__title-crew-container {
		grid-area: 2 / 2 / 3 / 6;
		display: flex;
		align-items: center;
	}

	.title-crew-container__number {
		font-family: 'Barlow-Condensed';
		font-weight: 700;
		color: var(--hover-gray-color);
		font-size: 1.11rem;
		letter-spacing: 3.38px;
		margin-right: 1rem;
	}

	.title-crew-container__text {
		font-family: 'Barlow-Condensed';
		font-weight: 400;
		font-size: 1.11rem;
		color: var(--tertiary-color);
		letter-spacing: 3.38px;
	}

	.main__information-crew-container {
		grid-area: 3 / 2 / 6 / 10;
		text-align: center;
		font-family: 'Bellefair';
	}

	.information-crew-container__title-small--active {
		font-family: 'Bellefair';
		font-weight: 400;
		color: var(--hover-gray-color);
		font-size: 1.33rem;
		letter-spacing: 0;
		width: 100%;
		font-weight: 400;
		margin-bottom: 0.5rem;
	}

	.information-crew-container__title-large--active {
		font-size: 2.22rem;
		margin: 0;
		color: var(--tertiary-color);
	}

	.information-container__paragraph-crew--active {
		font-family: 'Barlow';
		line-height: 28px;
		font-size: 0.88rem;
		max-width: unset;
		font-size: var(--nav-text-font-size);
	}

	.main-crew__button-navigation {
		grid-area: 5 / 5 / 6 / 7;
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 1rem;
		align-items: center;
	}

	.image-container__crew-image {
		grid-area: 6 / 3 / 11 / 10;
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: none;
		align-self: start;
	}

	.image-container__crew-image--active {
		display: block;
	}
}

@media screen and (max-width: 500px) {
	.body-crew {
		background-image: url(../../assets/img/crew/background-crew-mobile.jpg);
	}

	.main-crew {
		min-height: unset;
		min-width: unset;
	}

	.main__title-crew-container {
		grid-area: 2 / 2 / 3 / 10;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.title-crew-container__number {
		font-size: 0.88rem;
		margin-right: 1rem;
		letter-spacing: 2px;
		font-family: 'Barlow-Condensed';
	}

	.title-crew-container__text {
		font-size: 0.88rem;
		letter-spacing: 2.7px;
		font-family: 'Barlow-Condensed';
		font-weight: 400;
	}

	.main-crew__button-navigation {
		grid-area: 6 / 4 / 7 / 8;
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 1rem;
		align-items: center;
	}

	.image-container__crew-image {
		grid-area: 3 / 2 / 6 / 10;
		border-bottom: 1px solid gray;
	}
	
	.main__information-crew-container {
		grid-area: 7 / 1 / 11 / 11;
		padding: 0 1.5rem 3rem 1.5rem;
	}

	.information-crew-container__title-small--active {
		color: var(--hover-gray-color);
		font-size: 0.88rem;
		letter-spacing: 0.08px;
		margin-bottom: 0;
	}

	.information-crew-container__title-large--active {
		font-size: 1.33rem;
		margin-top: 0.8rem;
	}

	.information-container__paragraph-crew--active {
		line-height: 25px;
		font-size: 0.83rem;
		letter-spacing: 0.06px;
	}
}