.main-home {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);
}

.main__title {
	grid-area: 7 / 2 / 7 / 5;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	max-width: 450px;
	font-family: 'Bellefair';
}

.title__small {
	color: var(--secondary-color);
	font-size: 20px;
	letter-spacing: 4.72px;
	width: 100%;
	font-weight: 400;
	margin-bottom: 24px;
}

.title__large {
	font-size: var(--heading-font-size-XL);
	color: var(--tertiary-color);
	font-weight: 400;
	margin-bottom: 24px;
}

.title__intro {
	font-family: 'Barlow';
	line-height: 32px;
	font-weight: 400;
	font-size: 1rem;
	color: var(--secondary-color);
	letter-spacing: 0.08rem;
}

.main__explore-button {
	grid-area: 6 / 8 / 6 / 8;
	width: 15.2rem;
	height: 15.2rem;
	margin-left: 30px;
	border: none;
	background-color: var(--tertiary-color);
	font-family: 'Bellefair';
	font-size: var(--heading-font-size-S);
	color: var(--primary-color);
	border-radius: 270px;
	transition: all 150ms ease-in-out;
}

.main__explore-button:hover {
	box-shadow: 0 0 5px 2.77rem #97979741;
}