.main-destination {
	width: 100%;
	height: 100%;
	min-height: 630px;
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);
}

.main__title-container {
	grid-area: 3 / 2 / 4 / 8;
	display: flex;
	align-items: center;
	font-family: 'Barlow-Condensed';
}

.title-container__number {
	font-weight: 700;
	color: var(--hover-gray-color);
	font-size: var(--heading-font-size-XS);
	letter-spacing: var(--letter-spacing-L);
	margin-right: 2rem;
}

.title-container__text {
	font-weight: 400;
	font-size: var(--heading-font-size-XS);
	color: var(--tertiary-color);
	letter-spacing: var(--letter-spacing-L);
}

.main__planet-image-container {
	grid-area: 5 / 2 / 10 / 6;
	position: relative;
}

.planet-image-container__image {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: 200ms ease-in-out;
}

.planet-image-container__image--active {
	opacity: 1;
	display: block;
}

.main__information-destination {
	grid-area: 5 / 7 / 10 / 11;
	width: 100%;
	padding-right: 6rem;
}

.information__navigation-destination {
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: flex-start;
	gap: 2rem;
}

.navigation__button-planet {
	border: none;
	font-family: 'Barlow-Condensed';
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: var(--letter-spacing-M);
	color: var(--secondary-color);
	position: relative;
	padding-bottom: 1rem;
}

.navigation__button-planet::after {
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	content: '';
	height: 3px;
	width: 100%;
	transform-origin: bottom left;
	background-color: var(--hover-gray-color);
	transition: transform 200ms ease-in-out;
}

.navigation__button-planet:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
	z-index: 10;
}

.navigation__button-planet--active {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	height: 3px;
	width: 100%;
	background-color: var(--tertiary-color);
	z-index: 20;
}

.information__title-destination--hidden {
	display: none;
	font-family: 'Bellefair';
	font-size: var(--heading-font-size-L);
	color: var(--tertiary-color);
	font-weight: 400;
	letter-spacing: var(--letter-spacing-S);
	margin: 2rem 0;
}

.information__title-destination--active {
	display: block;
}

.information__paragraph--hidden {
	display: none;
	font-family: 'Barlow';
	line-height: 32px;
	font-weight: 400;
	font-size: 1rem;
	color: var(--secondary-color);
	letter-spacing: 0.10rem;
}

.information__paragraph--active {
	display: block;
}

.information__statistics {
	width: 100%;
	border-top: 1px solid #383B4B;
	margin-top: 2rem;
	padding-top: 2rem;
	display: flex;
	justify-content: space-between;
}

.statistics__distance-container,
.information__travel-time-container {
	width: 50%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: flex-start;
}

.distance-container__title,
.travel-time-container__title {
	font-family: 'Barlow-Condensed';
	font-weight: 400;
	letter-spacing: var(--letter-spacing-S);
	font-size: var(--nav-text-font-size);
	color: var(--secondary-color);
}

.distance-container__value--hidden,
.travel-time-container__value--hidden {
	display: none;
	font-family: 'Bellefair';
	font-weight: 400;
	color: var(--tertiary-color);
	font-size: var(--subheading-font-size-L);
}

.distance-container__value--active,
.travel-time-container__value--active {
	display: block;
}

@media screen and (max-width: 850px) {
	.body-destination {
		background-image: url(../../assets/img/destination/background-destination-tablet.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.main-destination {
		min-height: 705px;
	}
	
	.main__title-container {
		grid-area: 2 / 2 / 3 / 8;
		display: flex;
		align-items: center;
	}

	.title-container__number {
		font-size: 1.11rem;
		margin-right: 1rem;
		letter-spacing: 0.18px;
	}

	.title-container__text {
		font-size: 1.11rem;
		letter-spacing: 3.38px;
		font-weight: 400;
	}

	.main__planet-image-container {
		grid-area: 3 / 4 / 6 / 8;
		position: relative;
	}

	.main__information-destination {
		grid-area: 6 / 2 / 10 / 10;
		width: 100%;
		padding-right: 0;
		text-align: center;
		justify-self: center;
	}

	.information__navigation-destination {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 2rem;
		padding-top: 2rem;
	}

	.information__title-destination--hidden {
		font-size: 4.44rem;
	}

	.information__title-destination--active {
		margin-bottom: 0;
	}

	.statistics__distance-container,
	.information__travel-time-container {
		width: 50%;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
	}

	.distance-container__value--active,
	.travel-time-container__value--active {
		margin-top: 0.8rem;
	}
}

@media screen and (max-width: 500px) {
	.body-destination {
		background-image: url(../../assets/img/destination/background-destination-mobile.jpg);
	}

	.main-destination {
		min-height: 850px;
	}
	
	.main__title-container {
		grid-area: 2 / 2 / 3 / 10;
		align-self: flex-start;
		justify-self: center;
	}

	.title-container__number {
		font-size: 0.88rem;
		margin-right: 1rem;
		letter-spacing: 2px;
	}

	.title-container__text {
		font-size: 0.88rem;
		letter-spacing: 2.7px;
		font-weight: 400;
	}

	.main__planet-image-container {
		grid-area: 2 / 4 / 5 / 8;
		margin-top: 2rem;
	}

	.main__information-destination {
		grid-area: 5 / 2 / 10 / 10;
		text-align: center;
		justify-self: start;
	}

	.navigation__button-planet {
		font-size: 0.77rem;
		letter-spacing: 2.36px;
	}

	.information__navigation-destination {
		padding-top: 0.5rem;
	}

	.information__title-destination--hidden {
		font-size: var(--heading-font-size-M);
		letter-spacing: var(--letter-spacing-S);
		margin-top: 1.5rem;
	}

	.information__paragraph--hidden {
		line-height: 25px;
		font-weight: 400;
		font-size: 0.83rem;
		letter-spacing: 0.08rem;
		padding-bottom: 1rem;
	}

	.information__statistics {
		flex-flow: column;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		padding-top: 1rem;
	}

	.statistics__distance-container,
	.information__travel-time-container {
		margin-bottom: 1.5rem;
	}

	.distance-container__value--active,
	.travel-time-container__value--active {
		margin-top: 1rem;
	}
}
